services:
  dns-server:
    container_name: dns-server
    hostname: dns-server
    image: technitium/dns-server:14.2.0
    network_mode: "host"
    env_file: docker-compose.env
    volumes:
      - ./config:/etc/dns
    restart: always
